<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
<head>

<title>Home</title>
<link rel="stylesheet" href="css/carousel.css"
	th:href="@{/css/carousel.css}" />

</head>

<body>
<div layout:fragment="content">	
	
	
	<form class="text-center" >
    <label>User Name</label>
    <input type="text" name="name" /><br />
    <br />
    <label>Password</label>
    <input type="text" name="password" /><br />
    <br />
    <input type="submit" name="save" /><br />

</form>

    

    <div class="container marketing">

      



    </div>
  
  </div>
  </body>
</html>